@model SistemaTienda.Models.tblProveedor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tblProveedor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre_contacto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_contacto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cargo_contacto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cargo_contacto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ruta_imagen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ruta_imagen)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
