@model IEnumerable<SistemaTienda.Models.tblCompra>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tblEmpleado.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblMetodoPago.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblProducto.nombre_producto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblProveedor.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cantidad_compra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precio_compra)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tblEmpleado.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblMetodoPago.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblProducto.nombre_producto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblProveedor.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cantidad_compra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precio_compra)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
