@model SistemaTienda.Models.tblDevoluciones

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tblDevoluciones</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.tblVenta.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblVenta.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
