@model SistemaTienda.Models.tblKardex

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tblKardex</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tblProducto.nombre_producto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblProducto.nombre_producto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_compra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_compra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_venta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_venta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
