@model IEnumerable<SistemaTienda.Models.tblKardex>

@{
    ViewBag.Title = "Index";
}

@section Styles{
    <link href="~/Content/Kardex.css" rel="stylesheet" />
}

<h2>Ingrese el rango de fechas</h2>
@using (Html.BeginForm())
{
    <div class="mb-4 form-row">
        <div class="col">
            <input name="inicio" id="inicio" type="date" class="form-control" />
        </div>
        <div class="col">
            <input name="final" id="final" type="date" class="form-control" />
        </div>
        <div class="col">
            <select id="producto" name="producto" class="custom-select form-control" required>
                <option selected disabled>Producto</option>
                @{
                    foreach (var item in ViewBag.productos)
                    {
                        <option value="@item.Id">@item.nombre_producto</option>
                    }
                }
            </select>
        </div>
        <div class="col">
            <input type="submit" class="btn btn-primary" value="Generar Kardex" />
        </div>
    </div>
}

<table id="kardex_table" class="table table-bordered table-item-sales data">
    <thead>
        <tr>
            <th rowspan="2">Fecha</th>
            <th width="100%" rowspan="2">Descripción</th>
            <th colspan="3" scope="colgroup" bgcolor="#7de3fa">Entradas</th>
            <th colspan="3" scope="colgroup" bgcolor="#f2b063">Salidas</th>
            <th colspan="3" scope="colgroup" bgcolor="#f0f27c">Saldo</th>
        </tr>
        <tr>
            <th scope="col">Q</th>
            <th scope="col">Costo Unitario</th>
            <th scope="col">Costo Total</th>
            <th scope="col">Q</th>
            <th scope="col">Costo Unitario</th>
            <th scope="col">Costo Total</th>
            <th scope="col">Q</th>
            <th scope="col">Costo Unitario</th>
            <th scope="col">Costo Total</th>
        </tr>
        @Html.Raw(ViewBag.tbody)
    </thead>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="font-weight-bold bg-grey">Saldo</td>
        <td>@ViewBag.Saldo</td>
        <td class="font-weight-bold bg-grey">Total</td>
        <td>@ViewBag.Total</td>
    </tr>
</table>
