@model SistemaTienda.Models.tblCxC

@{
    ViewBag.Title = "Details";
}

<h2>Detalle de la cuenta por cobrar</h2>

<div>
    <h4>tblCxC</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tblVenta.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblVenta.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_limite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_limite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.abonado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.abonado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
