@model IEnumerable<SistemaTienda.Models.tblCxC>

@{
    ViewBag.Title = "Index";
}

<h2>Listado de cuentas por cobrar</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tblVenta.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_limite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.abonado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tblVenta.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_limite)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.abonado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
